@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'header';
@import 'portfolio';
@import 'hero';
@import 'comments';
@import 'footer';

* {
    margin: 0;
    padding: 0;
}
button,input{
    outline: none;
    border: none;
}
body {
    font-family: 'Inter';
    background: #121212;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.swiper-button-next,.swiper-button-prev{
color: #C92222;
display: flex;
justify-content: center;
align-items: center;
width: 34px;
border-radius: 50%;
height: 34px;
background: #ACACAC;
&::after{
    font-size: 20px ;
    font-weight: bolder;
    line-height: normal;
}
}
.wrapper{
    overflow: hidden;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

// .text_18 {

// }
.flex {
    display: flex;

    &.between {
        justify-content: space-between;
    }
    &.column{flex-direction: column;}
    &.a_center {
        align-items: center;
    }
}

.section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 34px;
        font-weight: 700;
        line-height: 40.8px;
        @media (max-width:768px) {
            font-size: 24px;
            font-weight: 600;
        }
        @media (max-width:556px) {
            font-size: 18px;
            font-weight: 600;
        }
        @media (max-width:400px) {
            font-size: 15px;
        }
        @media (max-width:336px) {
            font-size: 13px;
        }
    }
}

.button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    background: #C92222;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    transition: all .3s linear;
    @media (max-width:400px) {
        font-weight: 400;
        font-size: 12px;
        padding: 7px 14px;
    }
    &:hover{
        opacity: .7;
    }
    &.light {
        padding: 7.5px 21px;
        color: #3C3C3C;
        background-color: #FFFFFF;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    @media (max-width:1250px) {
        max-width: 1024px;
    }
    @media (max-width:1100px) {
        max-width: 768px;
    }
    @media (max-width:768px) {
        max-width: 480px;
    }
}


// .header {
//     padding: 19px 0;
//     background-color: #121212;
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 2278;

//     .dropdown {
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//         gap: 0 10px;
//         @media (max-width:1100px) {
//             display: none;
//         }
//         img {
//             transition: all .3s linear;

//             &.rotate {
//                 transform: rotate(-180deg);
//             }
//         }
//     }

//     .dropdown_child {
//         position: absolute;
//         top: 30px;
//         left: 0;
//         display: none;

//         a {
//             padding: 5px 20px;
//             background-color: #121212;
//             display: block;
//             width: 95px;

//             &:hover {
//                 background-color: #3a3a3a;
//             }

//         }
//     }

//     &_left {
//         display: flex;
//         gap: 0 60px;
//         align-items: center;
//         @media (max-width:768px) {
//             gap: 0 25px;
//         }

//         li {
//             position: relative;
//         }
//     }

//     &_right {
//         @media (max-width:768px) {
//             display: none;
//         }
//         a {
//             color: #fff;
//         }

//         .button {
//             font-weight: 700;
//         }

//         .flex {
//             gap: 0 17px;
//             @media (max-width:768px) {
//                 gap: 0 11px;
//             }
//         }

//         li {
//             position: relative;
//         }

//     }

//     &_menu {
//         display: flex;
//         gap: 0 21px;

//         a {
//             color: #fff;
//         }
//     }
// }